
<form action="" #formname="ngForm" (ngSubmit)="register()" autocomplete="off">
    
    <h2 class="text-center text-primary">Please register</h2> 
    <hr>
    <div class="mb-3">
        <label for="">Set your username</label>
        <input type="text" 
            class="form-control" 
            placeholder="Username" 
            [(ngModel)]="model.username"
            name="username" />
    </div>
    
   <div class="mb-3">
        <label for="">Set your password</label>
        <input type="password" 
            placeholder="Password" 
            class="form-control"
            [(ngModel)]="model.password"
            name="password"/>
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" type="submit">Cancel</button>
    </div>
</form>
